var removeFloor = function (floor) {
  if (floor.indexOf('层' !== -1)) {
    floor = floor.replace('层', '');
    return floor;
  } else {
    return floor;
  }
}

var transRoleName = function (role) {
  if (role == 1) {
    return '员工';
  } else if (role == 2) {
    return '前台';
  } else if (role == 3) {
    return '管理员';
  }
}

var transRoleClassName = function (role) {
  if (role == 1) {
    return 'employee';
  } else if (role == 2) {
    return 'leader';
  } else if (role == 3) {
    return 'admin';
  }
}

var getFirstLetter = function (name) {
  if (name.length) {
    return name.substring(0, 1)
  } else {
    return ''
  }
}

var transClassName = function (role) {
  if (role == 1) {
    return '_role_staff';
  } else if (role == 2) {
    return '_role_front';
  } else if (role == 3) {
    return '_role_admin';
  }
}

module.exports.transRoleClassName = transRoleClassName;
module.exports.removeFloor = removeFloor;
module.exports.transRoleName = transRoleName;
module.exports.getFirstLetter = getFirstLetter;
module.exports.transClassName = transClassName;
