var removeFloor = function (floor) {
  if (floor.indexOf('层' !== -1)) {
    floor = floor.replace('层', '');
    return floor;
  } else {
    return floor;
  }
}

var transRoleName = function (role) {
  if (role == 1) {
    return '员工';
  } else if (role == 2) {
    return '前台（子管理员）';
  } else if (role == 3) {
    return '管理员';
  }
}

var transRoleClassName = function (role, personType) {
  if (role > 1) {
    return '_role_admin';
  } else {
    if (personType == 3) {
      return '_role_leader';
    } else {
      return '_role_staff';
    }

  }
}

var getFirstLetter = function (name) {
  if (name.length) {
    return name.substring(0, 1)
  } else {
    return ''
  }
}

var returnArrayLength = function (arr) {
  if (arr !=null) {
    return arr.length;
  } else {
    return 0;
  }
}

module.exports.transRoleClassName = transRoleClassName;
module.exports.removeFloor = removeFloor;
module.exports.transRoleName = transRoleName;
module.exports.getFirstLetter = getFirstLetter;
module.exports.returnArrayLength = returnArrayLength;
